[submodule "lib_sdl_spine/src/main/cpp/SDL"]
	path = lib_sdl_spine/src/main/cpp/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib_sdl_spine/src/main/cpp/SDL_image"]
	path = lib_sdl_spine/src/main/cpp/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "lib_sdl_spine/src/main/cpp/SDL_spine"]
	path = lib_sdl_spine/src/main/cpp/SDL_spine
	url = https://github.com/peerless2012/SDL_spine.git
[submodule "lib_sdl_spine/src/main/cpp/Spine_cpp"]
	path = lib_sdl_spine/src/main/cpp/Spine_cpp
	url = https://github.com/peerless2012/Spine_cpp.git
